.button {
  display: block;
  text-align: center;
  padding: 16px 0;
  text-transform: uppercase;
  color: @white;
  background-color: @blue-400;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
