.features__list {
  .clear-list;

  background-color: @gray;

  .tablet({
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  });

  .desktop({
    grid-template-columns:  repeat(3, 1fr);
  });
}

.features__advantages-list {
  .clear-list;

  background-color: @white;

  .mobile({
    padding-left: 50px;
  });

  .tablet({
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    grid-column: 1 / -1;
  });

  .desktop({
    grid-template-columns: repeat(3, 400px);
  });
}

.features__item {
  position: relative;

  &--city {
    .tablet({
      display: grid;
      grid-column: 1 / 4;
      grid-template-columns: 1fr 2fr;
    });
  }

  &--bridge {
    .tablet({
      display: grid;
      grid-column: 1 / 4;
      grid-template-columns: 2fr 1fr;
    });
  }

  &--align {
    display: flex;
    flex-direction: column;
    text-align: start;

    .tablet({
      padding: 156px 44px 62px;
      text-align: center;
    });

    .desktop({
      padding: 169px 57px 55px;
    });
  }

  &--colored {

    .tablet({
      padding: 42px 28px 44px;
      min-height: 256px;
      display: grid;
      place-content: center;
    });

    .desktop({
      padding: 53px;
    });
  }

  &--house::after {
    background-image: url("../img/advantages.svg#house");
    .icon-after;

    .tablet({
      .icon-after-tablet;
    });
  }

  &--food::after {
    background-image: url("../img/advantages.svg#burger");
    .icon-after;

    .tablet({
      .icon-after-tablet;
    });
  }

  &--gift::after {
    background-image: url("../img/advantages.svg#gift");
    .icon-after;

    .tablet({
      .icon-after-tablet;
    });
  }
}

.features__text-block {
  display: grid;
  place-content: center;

  .tablet({
    padding: 52px 33px 31px;
  });

  &--accent {
    background-color: @blue-400;
    color: @white;
    min-height: 211px;

    .desktop({
      padding: 52px 55px;
    });
  }
}


.features__image {
  width: 100%;
  object-fit: cover;

  .tablet({
    background-size: contain;
  });

  &--bridge {
    order: -1;
  }
}
