.feedback__group {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  border-top: 1px solid @gray-100;
  display: grid;
  padding-top: 24px;


  .tablet({
    padding: 0 17px;
  });

  &--name {
    .tablet({
      display: flex;
      flex-direction: column;
      padding-right: 29px;
      border-top: none;
    });
  }

  &--contacts {
    display: flex;
    flex-direction: column;

    .tablet({
      border-left: 1px solid @gray-100;
      padding-left: 29px;
      border-top: none;
    });
  }

  &--impression {
    .tablet({
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 48px;
      border-top: 1px solid @gray-100;
      padding-top: 38px;
    });

    .desktop({
      display: flex;
      flex-wrap: wrap;
      gap: 66px;
    });
  }

  &--attractions {
    .tablet({
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 38px;
    });

    .desktop({
      display: flex;
      flex-wrap: wrap;
      gap: 64px;
    });
  }

  &--textarea {

    .tablet({
      padding-top: 28px;
    });
  }
}


.feedback__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  text-transform: uppercase;


  &--legend {
    font-size: 21px;
    margin-bottom: 20px;

    .mobile-width-only({
      float: left;
      width: 100%;
    });

    .tablet({
      margin-bottom: 28px;
    });
  }

  &--impression {
    padding: 0 67px;
  }

  &--attractions {

    .tablet({
      padding: 0 47px;
    });
  }
}

.feedback__description {
  padding: 36px 0 28px 0;

  .tablet({
    padding: 64px 115px 102px;
  });

  .desktop({
    padding: 115px 330px 66px;
  });
}

.feedback__label {
  display: block;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}

.feedback__textarea {
  width: 100%;

  .tablet({
    max-width: 648px;
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
  });

  .desktop({
     max-width: 768px;


  });
}

.feedback__submit {
  .tablet({
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  });

  .desktop({
    padding: 0 96px;
  });
}
