.input-text {
  font-size: 14px;
  line-height: 21px;
  color: @black-333;
  font-weight: 400;
}

.input-text__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  color: @black;
}
