.input-text {
  font-size: 14px;
  line-height: 21px;
  color: @black-333;
  font-weight: 400;
}

.input-text__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  color: @black;
  border: none;
  background-color: @white-f2;
  width: 100%;

  .tablet({

  });
}

.input-text__icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 58px;
  display: grid;
  place-items: center;
  background-color: #e6e6e6;
  height: 100%;
}
