.main-hero {
  background-color: @blue-300;
  margin: 0 auto;
  background-image: url("../img/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-hero__image {
  display: block;
  margin: 0 auto;
}
