.multimedia {

  .tablet({
    padding: 0 60px;
  });
}

.multimedia__list {
  .clear-list;
  .tablet({
    display: grid;
    grid-template-columns: 1fr 1fr;
  });

  .desktop({
    grid-template-columns: 1fr 1fr 1fr;
  });
}

.multimedia__item {
  padding-top: 24px;
  position: relative;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }

  .mobile-width-only({
    padding: 24px 20px;
  });

  .tablet({
    border: none;
    padding-top: 0;
    background-color: rgba(242, 242, 242, 1);
  });

  &--wide {
    .tablet({
      grid-column: span 2;
    });
    .desktop({
      grid-column: span 3;

    });
  }
}

.multimedia__item:nth-child(2n+3) {
  .tablet({
    background-color: rgba(234, 234, 234, 1);
  });
}

.multimedia__description {
  .tablet({
    max-width: 442px;
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 67px;
  });
}

.multimedia__image {
  width: 100%;
  height: 280px;
  object-fit: cover;

  .tablet({
    height: 400px;
    object-fit: cover;
    display: block;
  });
}

.multimedia__text-wrapper {
  .tablet({
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 22px 20px 15px;
  });

  .desktop({
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: @white;
  });
}

.multimedia__button {
  background-color: @white;
  border: none;
  display: flex;
  align-items: center;
  width: 75px;
  gap: 14px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;

  .tablet({
    background-color: transparent;
  });

  .desktop({
    grid-area: span 2;
    color: @white;
  });

  & svg {
    fill: hwb(0deg 0% 100% / 30%);

    .desktop({
      fill: @white;
    });
  }
}

.multimedia__text {
  margin: 0 0 10px;
}

.multimedia__author-name {
  margin: 0 0 11px;
  font-weight: 400;

  .tablet({
    order: 1;
  });
}
