.page {
  height: 100%;
}

.page__body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: @black;
  background-color: @white;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  min-height: 100%;
}
