.page__body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: @black;
  background-color: @white;
  margin: 0 auto;
  padding: 0;
  width: 320px;
}
