.video-presentation {
  .tablet({
    padding-top: 20px;
  });
}

.video-presentation__description {
  padding: 0 8px;
  margin-bottom: 38px;

  .tablet({
    max-width: 500px;
    margin: 0 auto;
  });
}

.video-presentation__link {
  position: relative;
  display: block;
}

.video-presentation__image {
  width: 100%;
}
