@white: hsl(0, 0%, 100%);
@white-02: hsla(0, 0%, 100%, 0.2);
@white-f2: hsl(0, 0%, 95%);
@black: hsl(0, 0%, 0%);
@black-02: hsla(0, 0%, 0%, 0.2);
@black-03: hsla(0, 0%, 0%, 0.3);
@black-333: hsl(0, 0%, 20%);
@blue-400: hsl(203, 47%, 66%);
@blue-300: hsl(195, 53%, 79%);
@gray: hsl(0, 0%, 93%);
@gray-100: rgba(219, 219, 219, 1);
@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1280px;
